.section {
}

.fieldRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.submitBtnDiv {
  width: 20%;
  margin-top: 2%;
  margin-left: 40%;
}

.submitBtn {
  width: 100%;
}

.editBtn {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.container {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  outline: 1px solid black
}

input {
  width: 100%;
}

h2 {
  text-align: center;
}

.editsection {
  display: flex;
  justify-content: space-around;
}

.printsection {
  margin-left: 5%;
}