body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.container {
  background-color: whitesmoke;
}

.fieldRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.BtnDiv {
  display: flex;
  width: 20%;
  margin-top: 2%;
  margin-left: 40%;
}

.OptionsBtnDiv {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 2%;
  margin-left: 30%;
}

.Btn {
  width: 100%;
}

.editBtn {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.container {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  outline: 1px solid black
}

input {
  width: 100%;
}

h2 {
  text-align: center;
}

.editsection {
  display: flex;
  justify-content: space-around;
}

.printsection {
  margin-left: 5%;
}