.section {
}

.fieldRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.editBtnDiv {
  width: 20%;
  margin-top: 2%;
  margin-left: 40%;
}

.editBtn {
  width: 100%;
}

.container {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  outline: 1px solid black
}

input {
  width: 100%;
}